@{
    /**/

    ViewBag.Title = "";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>
<body>

    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">WELCOME TO THE OUR BANK INDIA LTD.</a>
            </div>
            <ul class="nav navbar-nav">
                <li class="active"><a href="#">Home</a></li>
                <li><a href="#">Page 1</a></li>
                <li><a href="#">Page 2</a></li>
                <li><a href="#">Page 3</a></li>
            </ul>
        </div>
    </nav>
    <br />
    <br />
    <br />
    <br />
    <style>
        .grid-container {
            display: grid;
            grid-template-columns: auto auto auto;
            background-color: #2196F3;
            padding: 10px;
        }

        .grid-item {
            background-color: rgba(255, 255, 255, 0.8);
            border: 1px solid rgba(0, 0, 0, 0.8);
            padding: 20px;
            font-size: 30px;
            text-align: center;
        }
    </style>
    <div class="grid-container">
        <div class="grid-item">
            <img src="./Content/Manager" class="img-rounded" alt="" width="100" height="100"><br>
            <button type="button" class="btn btn-primary">Administrator
            </button>
        </div>
        <div class="grid-item">
            <img src="cinqueterre.jpg" class="img-rounded" alt="" width="100" height="100"><br>
            <button type="button" class="btn btn-primary">Branch Manager</button>
        </div>
        <div class="grid-item">
            <img src="cinqueterre.jpg" class="img-rounded" alt="" width="100" height="100"><br>
            <button type="button" class="btn btn-primary">Customer</button>
        </div>

    </div>



</body>
</html>
